a {
  text-decoration: none !important;
  color: white !important;
}

body {
  font-family: Georgia;
}

.page-background {
  background: url('../images/ludus-integritas-background.jpg') no-repeat;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  opacity: .95;
  box-shadow: 0 0 100px 20px black inset;
}

.hero-button-text {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.hero-button-writing-services {
  background: rgba(0, 0, 0, 1);
  clip-path: polygon(10% 0, 100% 0, 100% 85%, 94% 100%, 0 100%, 0 100%, 0 15%);
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  height: 20%;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px black;
  top: 35%;
}

.hero-button-training-services {
  background: rgba(0, 0, 0, 1);
  clip-path: polygon(10% 0, 100% 0, 100% 85%, 94% 100%, 0 100%, 0 100%, 0 15%);
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  height: 20%;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px black;
  top: 35%;
}

.hero-button-sales-services {
  background: rgba(0, 0, 0, 1);
  clip-path: polygon(10% 0, 100% 0, 100% 85%, 94% 100%, 0 100%, 0 100%, 0 15%);
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  height: 20%;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px black;
  top: 35%;
}

.training-infographic {
  display: block;
  height: 65%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: auto;
}

.sales-infographic {
  display: block;
  height: 65%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: auto;
}

.writing-infographic {
  display: block;
  height: 48%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: auto;
}
