body {
  font-family: Georgia;
}

/*.page-background {
  background: url('../images/smoke.jpg') no-repeat rgba(0, 0, 0, .1);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}*/

.navigation-bar {
  border-radius: 0;
  display: inline-block;
  height: 80px;
  width: 100vw;
  text-align: center;
}

.logo-img {
  display: inline-block;
  float: left;
  height: 100%;
  padding: 8px;
}

.navbar-title {
  display: inline-block;
  height: 100%;
  padding: 10px 80px 15px 0px;
}

#top-left {
  align-items: center;
  /*background: rgba(255, 255, 255, .75);*/
  /*border: solid 1px red;*/
  display: flex;
  justify-content: center;
  height: 400px;
  margin-top: 50px;
}

#portrait {
  height: 100%;
  text-align: center;
}

#top-right-tophalf {
  align-items: center;
  /*background: rgba(0, 0, 0, .75);*/
  /*border: solid 1px blue;*/
  display: flex;
  height: 200px;
  justify-content: center;
}

.top-tophalf-text {
  background: rgba(255, 255, 255, .75);
  font-size: 1.45rem;
  max-width: 90%;
  padding: 15px 0 15px 15px;
}

#top-right-bottomhalf {
  align-items: center;
  /*background: rgba(0, 0, 0, .75);*/
  /*border: solid 1px green;*/
  display: flex;
  height: 200px;
  justify-content: center;
}

.top-bottomhalf-text {
  /*color: white;*/
  font-size: 1.45rem;
  max-width: 90%;
}
