a {
  text-decoration: none !important;
  color: black !important;
}

.about-link {
  margin: 0 0 0 75px;
}

#about-section {
  padding-top: 40px;
}

body {

}

.previous-work-link {
  margin: 0;
}

.contact-link {
  margin: 0;
}

/* #page-background {
  background: url('../images/writing-services-background.png') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  padding-top: 0;
  position: absolute;
  width: 100%;
} */

/* .page-background-overlay {
  background: url('../images/writing-services-background.png') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  padding-top: 0;
  position: absolute;
  width: 100%;
} */

#header-spacer-about {
  content: "";
  display: block;
  height: 40px;
  margin: -40px 0 0;
}

#header-spacer-previous-work {
  content: "";
  display: block;
  height: 40px;
  margin: -40px 0 0;
}

#header-spacer-contact {
  /*content: "";*/
  display: block;
  height: 40px;
  margin: -40px 0 0;
}

.fb-link {
  height: 100%;
  padding: 10px;
}

.insta-link {
  height: 100%;
  padding: 10px 40px 10px 10px;
}

.navbar {
 background: rgba(255, 255, 255, .9);
 box-shadow: 0 5px 15px 5px rgba(255, 255, 255, .9);
 display: block;
}

.navbar-logo {
  height: 100%;
  margin-left: 20px;
  padding: 5px;
  position: absolute;
}

.navbar-text {
  font-size: 2.25rem;
  padding: 11px 16px 5px 16px;
}

.other-services-link {
  margin: 0;
}

p {
  font-size: 2rem;
}

.page-footer {
  background: rgba(255, 255, 255, .9);
  bottom: 0;
  box-shadow: 0 -5px 15px 5px rgba(255, 255, 255, .9);
  height: 50px;
  position: sticky;
  width: 100%;
}

/* ------------MEDIA QUERIES------------ */
@media only screen and (max-width: 500px) {
  #about-section {
    margin-top: 150px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .navbar-logo {
    display: block;
    height: 80px;
    margin: 0 auto;
    padding: 5px 0 5px 20px;
    position: relative;
  }

  .navbar-text {
    display: block;
    font-size: 2rem;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  h1 {

  }

  h2 {

  }

  .navbar-text {
    font-size: 2.25rem;
    padding: 11px 16px 5px 16px;
  }

  p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  h1 {

  }

  h2 {

  }

  .navbar-text {
    font-size: 2.25rem;
    padding: 11px 16px 5px 16px;
  }

  p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1700px) {
  h1 {

  }

  h2 {

  }

  .navbar-text {
    font-size: 2.25rem;
    padding: 11px 16px 5px 16px;
  }

  p {
    font-size: 2rem;
  }
}
