h1 {
  height: 550px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.about-link {
  margin: 0 0 0 75px;
}

body {
  /*padding-top: 40px; /*this is to compensate for the navbar*/*/
}

.blog-link {
  margin: 0;
}

.contact-link {
  margin: 0;
}

.page-background {
  background: url('') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.fb-link {
  height: 100%;
  padding: 10px;
}

.insta-link {
  height: 100%;
  padding: 10px 40px 10px 10px;
}

.navbar {
 background: rgba(255, 255, 255, 1);
 box-shadow: 0 5px 15px 5px white;
 display: block;
}

.navbar-logo {
  background: rgba(255, 255, 255, .75);
  height: 100%;
  margin-left: 25px;
  /*padding: 5px 5px 5px 20px;*/
  position: absolute;
}

.navbar-text {
  background: rgba(255, 255, 255, .75);
  font-size: 2.25rem;
  padding: 11px 16px 5px 16px;
}

.page-footer {
  bottom: 0;
  height: 50px;
  position: sticky;
  width: 100%;
}
